# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnpm-store/
/.pnp
.pnp.js
package-lock.json
yarn.lock
pnpm-lock.yaml

# testing
/coverage

# next.js
/.next/
/out/
.turbo/
dist/
.parcel-cache/

# production
/build

# misc
.DS_Store
*.pem
.DS_Store
.AppleDouble
.LSOverride
.idea/
.vscode/
*.swp
Thumbs.db

# Supabase artifacts
supabase/.branches/
supabase/.temp/
supabase/.env
supabase/functions/.env
.supabase/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.history



*.sql
